/*header*/
.nav{
   display:flex;

   background-color:#3F66C9;
   border-radius: 5px;
}
.Logo{
    display: flex;
    background:url(../Portfolio_landing/images/Logo1.png);
    height:90px;
    width:20%;
    background-size:195px 95px;
    margin: 5px 5px 5px 5px;
    background-repeat: no-repeat;
    background-image: center;
    border-radius: 5px 5px 5px 5px;

 
}
.center{
    display:flex;
    height:70px;
    width:65%;
}
.menu {
   display:flex;
   justify-content: space-around;
   align-items: flex-end;
   width:25%;
   height: 85px;
 
}
.menu a{
    color:white;
    text-decoration: none;
}
/*body*/
#bodyCategory{
    display:flex;
   width:100%;
 
}
#asideContent{
    display: flex;
    flex-direction: column;
    height:80vh;
    width:30%;
    background-color: rgb(207, 205, 218);
    border-radius: 20px;
}
.asideLeftContent{
    
    
   padding-left:10px ;
    
}

 h1{
    padding-left:10px 
 }
.asideLeftContentBottom {
    display: flex;
  justify-content: space-around;
  
}
img{
    background-size: cover;
    height:20vh;
    margin:20px 20px 10px 20px;
    border:20px solid black;
    border-radius: 10px;
}
#mainRightContent{
    display: grid;
    width:90%;
    
  
    grid-template-columns: 500px 500px;
    
  grid-gap: 30px;
    background-color:whitesmoke;
    padding: 30px;
    /*grid-template-areas: "card1"
  "card2 "
  "card3"
  "card4"
  "card5"
  "card6";*/
  

}

.card1{
  
    background: url("../Portfolio_landing/images/PantryChef.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  border-radius: 30px;
    
    
}
/*.style{
    margin-top: 350px;
    height: 50px;
    display:grid;
    background-color:rgba(0,0,0,0.7) ;
    align-items: center;
    color: white;
    padding-left:10px ;
}*/

.card2
{
    background: url("../Portfolio_landing/images/Toysfortots.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border-radius: 30px;
}  
/*footer*/

#footer{
    
    
    height:100px;
   
}
.icons{
  
    display: flex;
   background-color:#3F66C9;
   height:100px;
   align-items: center;
   justify-content: space-evenly;
   color:whitesmoke;
}
.footer4{
    display: flex;
    justify-self: center;
    height:50px;
}
